@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.header {
  font-family: "Nunito", sans-serif;
  position: relative;
}

.header > .header-main {
  color: rgb(30 144 255 / 0.95);
  position: relative;
  mix-blend-mode: multiply;
}

.header-main > .header-stroke {
  position: absolute;
  top: 0.2em;
  left: 0.05em;
  color: red;
  font-size: 1em;
  mix-blend-mode: multiply;
  opacity: 0.75;
  transform: rotate(1deg);
}
