@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.header {
  font-family: "Nunito", sans-serif;
  position: relative;
}

.header > .header-main {
  color: rgb(30 144 255 / 0.95);
  position: relative;
  mix-blend-mode: multiply;
}

.header-main > .header-stroke {
  --h-offset-x: 0.1em;
  --h-offset-y: 0.05em;
  --h-rotation: 1deg;
  position: absolute;
  top: var(--h-offset-y);
  left: var(--h-offset-x);
  color: red;
  font-size: 1em;
  mix-blend-mode: multiply;
  opacity: 0.6;
  transform: rotate(var(--h-rotation));
}
